IDCardService/src/wsdl/www.creditcloud.com_80/IDVerifier/CheckID.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://central.creditcloud.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://central.creditcloud.com/">

<xs:element name="check" type="tns:check"/>

<xs:element name="checkResponse" type="tns:checkResponse"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countByClient" type="tns:countByClient"/>

<xs:element name="countByClientResponse" type="tns:countByClientResponse"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="hitByClient" type="tns:hitByClient"/>

<xs:element name="hitByClientResponse" type="tns:hitByClientResponse"/>

<xs:element name="quickCheck" type="tns:quickCheck"/>

<xs:element name="quickCheckResponse" type="tns:quickCheckResponse"/>

<xs:complexType name="check">
<xs:sequence>
<xs:element name="clientCode" type="xs:string" minOccurs="0"/>
<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quickCheck">
<xs:sequence>
<xs:element name="clientCode" type="xs:string" minOccurs="0"/>
<xs:element name="idNumber" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quickCheckResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hitByClient">
<xs:sequence>
<xs:element name="clientCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hitByClientResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countByClient">
<xs:sequence>
<xs:element name="clientCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countByClientResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>