IDCardService/src/wsdl/www.creditcloud.com/IDVerifier/CheckID.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://central.creditcloud.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://central.creditcloud.com/" name="IDVerifier">
<types>
<xsd:schema>
<xsd:import namespace="http://central.creditcloud.com/" schemaLocation="http://www.creditcloud.com:80/IDVerifier/CheckID?xsd=1"/>
</xsd:schema>
</types>
<message name="hitByClient">
<part name="parameters" element="tns:hitByClient"/>
</message>
<message name="hitByClientResponse">
<part name="parameters" element="tns:hitByClientResponse"/>
</message>
<message name="countByClient">
<part name="parameters" element="tns:countByClient"/>
</message>
<message name="countByClientResponse">
<part name="parameters" element="tns:countByClientResponse"/>
</message>
<message name="quickCheck">
<part name="parameters" element="tns:quickCheck"/>
</message>
<message name="quickCheckResponse">
<part name="parameters" element="tns:quickCheckResponse"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="check">
<part name="parameters" element="tns:check"/>
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse"/>
</message>
<portType name="CheckID">
<operation name="hitByClient">
<input wsam:Action="http://central.creditcloud.com/CheckID/hitByClientRequest" message="tns:hitByClient"/>
<output wsam:Action="http://central.creditcloud.com/CheckID/hitByClientResponse" message="tns:hitByClientResponse"/>
</operation>
<operation name="countByClient">
<input wsam:Action="http://central.creditcloud.com/CheckID/countByClientRequest" message="tns:countByClient"/>
<output wsam:Action="http://central.creditcloud.com/CheckID/countByClientResponse" message="tns:countByClientResponse"/>
</operation>
<operation name="quickCheck">
<input wsam:Action="http://central.creditcloud.com/CheckID/quickCheckRequest" message="tns:quickCheck"/>
<output wsam:Action="http://central.creditcloud.com/CheckID/quickCheckResponse" message="tns:quickCheckResponse"/>
</operation>
<operation name="count">
<input wsam:Action="http://central.creditcloud.com/CheckID/countRequest" message="tns:count"/>
<output wsam:Action="http://central.creditcloud.com/CheckID/countResponse" message="tns:countResponse"/>
</operation>
<operation name="check">
<input wsam:Action="http://central.creditcloud.com/CheckID/checkRequest" message="tns:check"/>
<output wsam:Action="http://central.creditcloud.com/CheckID/checkResponse" message="tns:checkResponse"/>
</operation>
</portType>
<binding name="CheckIDPortBinding" type="tns:CheckID">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hitByClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countByClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quickCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IDVerifier">
<port name="CheckIDPort" binding="tns:CheckIDPortBinding">
<soap:address location="http://www.creditcloud.com:80/IDVerifier/CheckID"/>
</port>
</service>
</definitions>